/* Estilo general */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial Black', sans-serif;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    
    background-image: url(img/maikra2.jpg);
    background-position: center center;
    background-size: cover;

}

header h1 {
    font-size: 3em;
    color: #ff4c4c;
    margin: 0;
    text-shadow: 2px 2px #000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff4c4c;
}


main {
    padding: 40px 20px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    font-size: 2em;
    color: #000000;
    margin-bottom: 15px;
    text-shadow: 1px 1px #000;
}

section p, section li {
    font-size: 1.1em;
    line-height: 1.6;
}


.reparto ul {
    list-style: none;
    padding: 0;
}

.reparto li {
    margin: 5px 0;
}


video {
    width: 80%;
    max-width: 700px;
    border: 3px solid #ff4c4c;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.7);
}


footer {
    background-color: #0d0d0d;
    padding: 15px 0;
    font-size: 0.9em;
    color: #999;
    box-shadow: 0 -4px 6px rgba(0,0,0,0.5);
}

